@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
.game-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  width: 80%; }
  .game-list p {
    line-height: 1.5em;
    margin: 1.5em; }
  .game-list .game-card {
    border: #33ff00 1px solid;
    border-radius: 1em;
    padding: 2em;
    margin-top: 1em; }
    .game-list .game-cardh2 {
      margin-bottom: 1em;
      font-size: 1.5em; }
  .game-list .game-list-create-game-button {
    font-size: 2em;
    margin-top: 10px !important; }
