@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

.GameDetail-div {
  text-align: center;
  margin: 2vh 0 0 0;
  width: 100vw;
  height: 90vh; }
  .GameDetail-div .GameDetail-div-result,
  .GameDetail-div .GameDetail-div-waiting {
    height: 60vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    justify-content: space-evenly;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end); }
