@import '../../styles/references.scss';

.game-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  width: 80%;

  p {
    line-height: 1.5em;
    margin: 1.5em;
  }

  .game-card {
    border: $game-green 1px solid;
    border-radius: 1em;
    padding: 2em;
    margin-top: 1em;

    &h2 {
      margin-bottom: 1em;
      font-size: 1.5em;
    }

  }

  .game-list-create-game-button {
    font-size: 2em;
    margin-top: 10px !important;
  }

}
