@import '../../styles/references.scss';

.game-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  width: 80%;

  p {
    line-height: 1.5em;
    margin: 1.5em;
  }

  .game-card {
    border: $game-green 1px solid;
    border-radius: 1em;
    padding: 2em;
    margin-top: 1em;

    .winner {
      color: $white;
    }

    .status {
      color: $orange;
    }

    &h2 {
      margin-bottom: 1em;
      font-size: 1.5em;
    }

    button {
      margin-left: 70%;
    }
  }
  .game-list-create-game-button {
    font-size: 2em;
    margin-top: 10px !important;
  }

  button,
  .game-list-create-game-button {
    background-color: rgba(0,0,0, 0.25);
    &:hover {
      background-color: $game-green;
    }
  }
}
