.board {
  box-sizing: border-box;
  border: 2px solid #000000;
  width: 800px;
  height: 500px;
  margin: auto;
}
.board-row {
  margin: 0 0 -1px 0;

}
.board-tile {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 -1px 0 0;
  height: 50px;
  width: 50px;
  border: 1px solid #000000;
}

p {
  margin: 0;
  padding: 0;
}

.board-tile-player1 {
  background-color: red;
  height: 100%;
  width: 100%;
  font-size: 20px;
}

.board-tile-coordinates {
  font-size: 9px;
}
